.full-height {
  height: 100vh;
  overflow: auto;
}

.chat-window {
  height: 70%;
  overflow-y: scroll;
}

.chat-entry {
  min-height: 60px;
}

.chat-input {
  border: 2px solid #0a64a0;
  width: 80%;
}

body {
  overflow: hidden;
}